
.info-bg {
    background-color: var(--cor-1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-4);
    padding: 10px;
}

.lista-info{
    display: flex;
    word-wrap: break-word;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.lista-info::-webkit-scrollbar {
    display: none;
}

.info-bg .item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 200px;
    align-items: center;
    padding: 10px;
}

.info-bg .item:nth-child(1),
.info-bg .item:nth-child(2),
.info-bg .item:nth-child(3){
    border-right: 1px solid var(--cor-2);
}


@media screen and (max-width: 900px) {
    .info-bg .item:nth-child(3),
    .info-bg .item:nth-child(4){
        border-right: 1px solid var(--cor-2);
        border-top: 1px solid var(--cor-2);
    }    
    .info-bg .item:nth-child(2),
    .info-bg .item:nth-child(4){
        border-right: none;
    }    
}
  
  @media screen and (max-width: 460px) {
    .info-bg .item:nth-child(1),
    .info-bg .item:nth-child(2){
        border-right: 1px solid var(--cor-2);
        border-top: 1px solid var(--cor-2);
    }   
    .lista-info {
        grid-auto-columns: calc((70% / 1));
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: auto;
        gap: 30px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        padding-left: 600px;
      }
}


  
