.roupas-slider {
  display: flex;
  flex-direction: column;
  padding: 35px;
  background-color: var(--cor-4);
}
.roupas-slider .titulo h1{
  display: flex;
  align-items: start;
  letter-spacing: -1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wrapper {
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: var(--cor-4);
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child{
  left: -22px;
}

.wrapper i:last-child{
  right: -22px;
}

.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: auto;
  list-style: none;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 5px;
  text-align: center;
}

.carousel .card .img {
  height: auto;
  width: 248px;
  border-radius: 50%;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.carousel .card span {
  color: var(--cor-6);
  font-size: 1rem;
  text-decoration: line-through;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 3) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
  .carousel .card h2 {
    font-size: 1rem;
    margin: auto;
  }
  
  .carousel .card span {
    font-size: 1rem;
  }
  .star-icon{
    font-size: 20px !important;/* alterar o tamanho das estrelas */
  }
  .wrapper i {
    top: 40%;
    height: 40px;
    width: 40px;
    font-size: 1rem;
    line-height: 40px;
  }
}


/* ESTRELAS */
.avaliacao{
  display: flex;
 }
.star-icon{
  list-style-type: none;
  border: 1px solid var(--cor-4);
  cursor: pointer;
  color: var(--cor-estrela);
  font-size: 30px;/* alterar o tamanho das estrelas */
}

.star-icon::before{
  content: "\2605";
}
.star-icon.ativo ~ .star-icon::before{
  content: "\2606";
}
.avaliacao:hover .star-icon::before{
  content: "\2605";
}
.star-icon:hover ~ .star-icon::before{
  content: "\2606";
}